@font-face {
    font-family: notosans;
    src: url(notosans.ttf);
}

@font-face {
    font-family: kaushanscript;
    src: url(kaushanscript.ttf);
}

* {
  font-family: 'notosans', sans-serif;
  line-height: 1.2em;
}

body {
  margin: 0;
}

#controls{
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 10px;
  background: rgba(255, 165, 0, 0.73);
  text-align: center;
  padding: 25px;
  border: 12px double white;
  color: #272b2e;
}
#controls h1 {
  font-family: 'kaushanscript', cursive;
  text-decoration: underline overline white dotted;
  text-decoration-thickness: 5px;
  text-underline-offset: 7px;
}
#controls .title p {
  color: white;
  margin-top: -8px;
  font-size: 1.2em;
}
#controls input, #controls textarea {
  caret-color: purple;
}
#controls input:focus, #controls textarea:focus {
  outline: 4px dotted darkgreen;
}
#controls input {
  font-size: 1em;
}
#controls textarea {
  height: 20vh;
}

.printHelp {
  background: rgba(50, 30, 165, 0.73);
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px 40px 30px 40px;
  border-radius: 9px;
  color: white;
  border: 2px dashed white;
  text-align: left;
  max-width: 590px;
}

section {
  display: grid;
  grid-template-columns: calc(297mm / 3) calc(297mm / 3) calc(297mm / 3);
  grid-template-rows: calc(210mm / 4) calc(210mm / 4) calc(210mm / 4) calc(210mm / 4);
  height: 210mm;
  width: 297mm;
  margin: 0 auto;
}

.box {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
  padding: 2px;
  overflow: hidden;
  color-adjust: exact;
}
.card {
  height: 100%;
  background-color: white;
}

.card p {
  margin: 0;
  text-align: center;
  font-size: large;
}

.card p.word {
  font-size: xx-large;
}

@media screen and (min-width: 992px) {
  #controls {
    width: 40vw;
  }
}
@media print {
    @page {
      size: A4 landscape;
      margin: 0;
    }
    section {
      break-after: page;
    }
}

section.chrome {
  margin-top: -2px;
}
